body.wait *, body.wait
{
    cursor: progress !important;
}

#relatedTermsScope .ui-button-text
{
	display: inline !important; 
}
#relatedTermsScope .ui-button
{
	display: inline !important; 
}
#relatedTermsScope .ui-widget 
{
	display: inline !important; 
}​