body.wait *, body.wait
{
    cursor: progress !important;
}
#relatedTermsScope 
{
	display: inline !important; 
}
#relatedTermsScope .ui-button-text
{
	display: inline !important; 
}
#relatedTermsScope .ui-button
{
	display: inline !important; 
}
#relatedTermsScope .ui-widget 
{
	display: inline !important; 
}
.fitcontent{
    padding:0px !important;
    margin:0px !important;
}
.font-bold{
	font-weight:bold;
}​